body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.card-info {
padding-left:100px;
}

#card {
padding-left:100px;
color:red;
}.card-info {
padding-left:100px;
}

#card {
padding-left:100px;
color:red;
}

.top-wwrapper {
   width: 800px; 
}

#top-container {
 
   background-color: red;
   border:4px solid black;
   overflow: auto;
   width: 264px;
   margin: auto;  
     
}

.player { 

  border:1px solid black;  
  width : 110px;
  height : 110px; 
  float: left;
  margin:10px;

}


.player .p1 {   
}

.player .p2 {     
}

.top-wrapper {
   width: 800px; 
}

#top-container {
 
   background-color: red;
   border:4px solid black;
   overflow: auto;
   width: 264px;
   margin: auto;  
     
}
.table{
border:5px solid black;
width:264px;
height:200px;
float:left; 
margin:80px;
 background-color:green;
top:50px;
right:20px;
}
.table 1{

}

}

.player { 

  border:1px solid black;  
  width : 110px;
  height : 110px; 
  float: left;
  margin:10px;

}


.player .p1 {   
}

.player .p2 {     
}


#center-container {
 
   background-color: red;
   border:4px solid black;
   overflow: auto;
   width: 700px;
   margin: auto; 
     
}
.player.3{

}
