body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.center{
 text-align:center;
 background-color:yellow;
}

.avatar{
  width:110px;
  height:70px;
}

a {
  color: #00B7FF;
}

.card.info {
padding-left:100px;
}

.card {
padding-left:100px;
color:red;
}

#top-container {
 
   background-color: red;
   border:4px solid black;
   overflow-x:auto;
   overflow-y:auto;
   width: 284px;
   height:180px;
   margin: auto;  
   padding-left:20px;
   padding-top:10px;
     
}

.player { 

  border:1px solid black;  
  width : 110px;
  height : 120px; 
  float: left;
  margin:10px; 

}


.player .p1 {   
}

.player .p2 {     
}

.p3 {
  margin-top:71px;
  
}

.p4 {     
  margin-top:71px;
  float:right;
}


.top-wrapper {
   width:1000px; 
}


.table{
border:1px solid black;
width:320px;
height:200px;
float:left;
margin-top:50px;


margin-bottom:80px;
background-image:url('full-tilt-game-table.png');
right:50px;
}

.table 1{

}
.rotate{
-moz-transform:rotate(-180deg)

}
#center-container {
 
   background-color: red;
   border:4px solid black;
   width: 850px;
   margin-left:10px;
   margin-right:10px;
   height:300px; 
     
}
.table-card-container{
  margin-top:20%;
  overflow: auto;
}

.table-card-position{
top:20%;
margin-left:33%;
}

.table-card-position1{
top:20%;
margin-left:53%;
}
.table-card-container1 {
  margin-top:0%;
margin-left:0%;
  overflow: auto;
}
.table-card-position3{
top:0%;
margin-left-10%;
}

.table-card-container2 {
 top:0%;
margin-left:-20%;
  overflow: auto;
}

.table-card-position4{
top:20%;
margin-left:7%;
}




.table-card {
  float:left;
  padding-left:13px;
}
